.admin-login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:darkgray;
  }
  
  .admin-login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .admin-login-container button {
    padding: 10px;
    background-color:darkcyan;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .admin-login-container button:hover {
    background-color:darkcyan;
  }
  